DialogueNode #title {
    background-color: rgba(100, 100, 100, 0.91);
	color: rgba(50, 50, 50, 0.91);
	width: 350;

}

#textFieldTitle {
    height: 100;
    width: 150;
    -unity-text-align: upper-left;  
    -unity-word-wrap: true;
    -unity-clipping: clip;
    overflow: visible;
    white-space: wrap;
    margin-right: .75;
}




