DialogueNode #title {
    background-color: rgba(29, 115, 57, 0.91);
}

DialogueNode #DialogueText {
    height: 100;
    width: 150;
    -unity-text-align: upper-left;  
    -unity-word-wrap: true;
    -unity-clipping: clip;
    overflow: visible;
    white-space: wrap;
    margin-right: .75;
}




